<template>
  <v-app>
    <alert-component />

    <keep-alive>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        persistent
        transition="scale-transition"
      >
        <component :is="currentComponent" @closed="setDialogStatus"></component>
      </v-dialog>
    </keep-alive>

    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-avatar v-if="!currentUser.user.photo" color="teal"
              ><span class="white--text">{{ initial }}</span></v-avatar
            >
            <v-img v-else :src="`storage/${currentUser.user.photo}`"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ currentUser.user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn
            block
            color="primary"
            class="mb-1"
            @click="setDialogComponent('login')"
          >
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block color="success" @click="setDialogComponent('register')">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>

        <v-divider />

        <v-list-item
          v-for="(menu, index) in menus"
          :key="index"
          :to="menu.route"
        >
          <v-list-item-icon>
            <v-icon left>{{ menu.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content> {{ menu.title }}</v-list-item-content>
        </v-list-item>
      </v-list>

      <div v-if="!guest">
        <v-divider />
        <v-list>
          <v-list-item
            v-for="menu in menuUsers"
            :key="menu.route"
            :to="menu.route"
          >
            <v-list-item-icon>
              <v-icon left>{{ menu.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>{{ menu.title }}</v-list-item-content>
          </v-list-item>
        </v-list>
      </div>

      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="primary" dark v-if="isHome">
      <v-app-bar-nav-icon @click="drawer = !drawer" />

      <v-toolbar-title>Crowd Funding App</v-toolbar-title>

      <v-spacer />

      <v-btn icon>
        <v-badge v-if="Transactions > 0" color="orange" overlap>
          <template v-slot:badge>
            <span>{{ Transactions }}</span>
          </template>
          <v-icon>mdi-cash-multiple</v-icon>
        </v-badge>
        <v-icon v-else>mdi-cash-multiple</v-icon>
      </v-btn>

      <v-text-field
        slot="extension"
        hide-details
        append-icon="mdi-microphone"
        flat
        label="Search"
        prepend-inner-icon="mdi-magnify"
        solo-inverted
        @click="setDialogComponent('search')"
      />
    </v-app-bar>

    <v-app-bar app color="primary" dark v-else>
      <v-btn icon @click.stop="$router.go(-1)">
        <v-icon>mdi-arrow-left-circle</v-icon>
      </v-btn>

      <v-spacer />

      <v-btn icon>
        <v-badge v-if="Transactions > 0" color="orange" overlap>
          <template v-slot:badge>
            <span>{{ Transactions }}</span>
          </template>
          <v-icon>mdi-cash-multiple</v-icon>
        </v-badge>
        <v-icon v-else>mdi-cash-multiple</v-icon>
      </v-btn>

      <v-text-field
        slot="extension"
        hide-details
        append-icon="mdi-microphone"
        flat
        label="Search"
        prepend-inner-icon="mdi-magnify"
        solo-inverted
        @click="setDialogComponent('search')"
      />
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-card>
      <v-footer absolute app>
        <v-card-text class="text-center">
          &copy; {{ new Date().getFullYear() }} - <strong>CrowdFunding</strong>
        </v-card-text>
      </v-footer>
    </v-card>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import AlertComponent from "./components/Alert.vue";
import Search from "./components/Search.vue";
import Login from "./components/Login.vue";
import Register from "./components/Register.vue";
export default {
  name: "App",
  components: {
    AlertComponent,
    Login,
    Register,
    Search,
  },

  data() {
    return {
      drawer: false,
      menus: [
        { title: "Home", icon: "mdi-home", route: "/" },
        { title: "Campaigns", icon: "mdi-hand-heart", route: "/campaigns" },
      ],
      initial: "",
      menuUsers: [
        { title: "Profile", icon: "mdi-account", route: "/profile" },
        {
          title: "Make a Campaign",
          icon: "mdi-hand-heart",
          route: "/new-campaign",
        },
        { title: "Ask Admin", icon: "mdi-forum", route: "/ask-admin" },
      ],
    };
  },

  computed: {
    isHome() {
      return this.$route.path === "/" || this.$route.path === "/home";
    },

    ...mapGetters({
      Transactions: "transaction/checkTransactions",
      guest: "auth/guest",
      currentUser: "auth/user",
      dialogStatus: "dialog/status",
      currentComponent: "dialog/component",
    }),

    dialog: {
      get() {
        return this.dialogStatus;
      },
      set(value) {
        this.setDialogStatus(value);
      },
    },
  },

  methods: {
    ...mapActions({
      setDialogStatus: "dialog/setStatus",
      setDialogComponent: "dialog/setComponent",
      setAuth: "auth/set",
      setAlert: "alert/set_alert",
      checkToken: "auth/checkToken",
    }),

    async logout() {
      let config = {
        headers: {
          Authorization: "Bearer " + this.currentUser.token,
        },
      };

      await axios
        .post("/api/auth/logout", {}, config)
        .then((response) => {
          this.setAuth({});
          this.setAlert({
            status: true,
            text: "Berhasil logout",
            color: "success",
          });
        })
        .catch((err) => {
          let { data } = err.response;
          this.setAlert({
            status: tru,
            text: "Gagal logout",
            color: "error",
          });
        });
    },

    setInitial() {
      this.initial = this.currentUser.user.name
        .split(" ")
        .map((n) => n[0])
        .join("");
    },
  },

  mounted() {
    if (this.currentUser.token) {
      this.checkToken(this.currentUser);
      this.setInitial();
    }
  },
};
</script>