<template>
  <v-container>
    <v-card v-if="admin">
      <v-card-subtitle>Message</v-card-subtitle>
      <div class="pa-4">
        <v-card
          :to="`/chat-admin/${chat.from_id}`"
          class="my-4 d-flex justify-between align-center"
          v-for="chat in chats"
          :key="chat.from_id"
        >
          <v-card-title>{{ chat.from_name }}</v-card-title>
          <v-chip color="primary" v-show="chat.new_chat">New message</v-chip>
        </v-card>
      </div>
    </v-card>
    <v-skeleton-loader v-else type="card"></v-skeleton-loader>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
import BusEvent from "../bus";
export default {
  data() {
    return {
      admin: false,
      chats: [],
    };
  },

  computed: {
    ...mapGetters({
      currentUser: "auth/user",
    }),
  },

  methods: {
    async isAdmin() {
      let config = {
        headers: {
          Authorization: "Bearer " + this.currentUser.token,
        },
      };

      await axios
        .get("/api/admin", config)
        .then((response) => {
          this.admin = true;
        })
        .catch((error) => {
          console.log(error.response);
          this.$router.push({ name: "home" });
        });
    },

    async getChats() {
      let config = {
        headers: {
          Authorization: "Bearer " + this.currentUser.token,
        },
      };

      await axios
        .get("/api/chat-admin", config)
        .then((response) => {
          let { data } = response.data;
          this.chats = data.chats;
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },

  beforeMount() {
    this.isAdmin();
  },

  mounted() {
    this.getChats();
    BusEvent.$on("chat-sent", (formData) => {
      for (let i = 0; i < this.chats.length; i++) {
        if (this.chats[i].from_id == formData.from_id) {
          this.chats[i].new_chat = true;
        }
      }
    });
  },
};
</script>

<style>
</style>