<template>
  <v-container>
    <h5>Tanya Admin</h5>
    <chat-component />
  </v-container>
</template>

<script>
import ChatComponent from "../components/Chat";
export default {
  components: {
    ChatComponent,
  },
};
</script>

<style>
</style>