<template>
  <div>
    <v-container class="mx-auto pa-0 my-0">
      <div v-if="campaign.id">
        <v-card>
          <v-img :src="campaign.image" class="black--text" height="200px">
          </v-img>
          <v-card-title v-text="campaign.title" />

          <v-card-text>
            <v-simple-table>
              <tbody>
                <tr>
                  <td><v-icon class="mr-2">mdi-home-city</v-icon>Alamat</td>
                  <td>{{ campaign.address }}</td>
                </tr>
                <tr>
                  <td><v-icon class="mr-2">mdi-hand-heart</v-icon>Terkumpul</td>
                  <td class="blue--text">
                    Rp {{ campaign.collected.toLocaleString("id-ID") }}
                  </td>
                </tr>
                <tr>
                  <td><v-icon class="mr-2">mdi-cash</v-icon>Dibutuhkan</td>
                  <td class="orange--text">
                    Rp {{ campaign.required.toLocaleString("id-ID") }}
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
            Description: <br />
            {{ campaign.description }}
          </v-card-text>

          <v-card-actions>
            <v-btn
              block
              color="primary"
              :to="`/donation/${campaign.id}`"
              :disabled="campaign.collected >= campaign.required"
            >
              <v-icon>mdi-money</v-icon> &nbsp; DONATE
            </v-btn>
          </v-card-actions>
        </v-card>

        <v-card class="mx-auto mt-4" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">Penggalang Dana</div>
              <v-list-item-title class="headline mb-1">
                {{ campaign.author }}
              </v-list-item-title>
              <v-list-item-subtitle>{{
                campaign.author_email
              }}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar
              v-if="campaign.author_photo"
              tile
              size="80"
              color="grey"
              ><img :src="campaign.author_photo" alt=""
            /></v-list-item-avatar>
            <v-list-item-avatar
              v-else
              tile
              size="80"
              color="grey"
            ></v-list-item-avatar>
          </v-list-item>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      campaign: {},
      title: "Crowd Funding",
    };
  },

  methods: {
    ...mapActions({
      addTransaction: "transaction/add_transaction",
      setAlert: "alert/set_alert",
    }),

    async getCampaign() {
      let { id } = this.$route.params;
      await axios
        .get(`/api/campaign/${id}`)
        .then((response) => {
          let { data } = response.data;
          this.campaign = data.campaign;
          document.title = this.campaign.title;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    // donate() {
    //   this.addTransaction();
    //   this.setAlert({
    //     status: true,
    //     color: "success",
    //     text: "Transaksi berhasil ditambahkan!",
    //   });
    // },
  },

  mounted() {
    document.title = this.title;
    this.getCampaign();
  },
};
</script>