<template>
  <div>
    <v-container>
      <v-subheader class="-mb-4"> All Campaigns</v-subheader>
      <v-layout wrap v-if="campaignLoading">
        <v-flex v-for="num in 6" :key="num" xs12 md6>
          <v-skeleton-loader
            :class="[num % 2 > 0 ? 'mr-2' : '', num > 2 ? 'mt-2' : '']"
            type="card"
          ></v-skeleton-loader>
        </v-flex>
      </v-layout>

      <v-layout wrap>
        <v-flex
          v-for="(campaign, index) in campaigns"
          :key="`campaign-${campaign.id}`"
          xs12
          md6
        >
          <card-component
            :class="(index + 1) % 2 > 0 ? 'mr-4' : ''"
            class="mt-4"
            :campaign="campaign"
            style="width: 98%"
          />
        </v-flex>
      </v-layout>

      <v-pagination
        class="mt-4"
        v-model="page"
        @input="getCampaigns"
        :length="lenghtPage"
        :total-visible="6"
      />
    </v-container>
  </div>
</template>

<script>
import CardComponent from "../components/CardCampaign.vue";
export default {
  components: {
    CardComponent,
  },

  data() {
    return {
      campaigns: [],
      campaignLoading: false,
      lenghtPage: 0,
      page: 0,
      title: "All Campaigns",
    };
  },

  methods: {
    async getCampaigns() {
      this.campaignLoading = true;
      await axios
        .get(`/api/campaign?page=${this.page}`)
        .then((response) => {
          let data = response.data.data;
          this.campaigns = data.campaigns.data;
          this.page = data.campaigns.current_page;
          this.lenghtPage = data.campaigns.last_page;
          setTimeout(() => {
            this.campaignLoading = false;
          }, 500);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },

  mounted() {
    document.title = this.title;
    this.getCampaigns();
  },
};
</script>

<style>
</style>