<template>
  <v-container>
    <v-btn color="primary" to="/admin">Back</v-btn>
    <chat-component />
  </v-container>
</template>

<script>
import ChatComponent from "../components/Chat";
export default {
  components: {
    ChatComponent,
  },
};
</script>

<style>
</style>