<template>
  <v-container>
    <v-card>
      <v-stepper alt-labels v-model="e1">
        <v-stepper-header>
          <v-stepper-step step="1" :complete="e1 > 1">
            Pilih Nominal Donasi
          </v-stepper-step>
          <v-divider />
          <v-stepper-step step="2" :complete="e1 > 2">
            Pilih Metode Pembayaran
          </v-stepper-step>
          <v-divider />
          <v-stepper-step step="3">Pembayaran </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card class="pa-4">
              <v-card
                v-for="amount in amounts"
                :key="amount"
                class="my-4"
                @click="toStepTwo(amount)"
              >
                <v-card-title
                  >Rp {{ amount.toLocaleString("id-ID") }}</v-card-title
                >
              </v-card>
              <v-card>
                <v-card-title>Lainnya</v-card-title>
                <v-form v-model="valid" class="px-4">
                  <v-text-field
                    outlined
                    v-model="amount"
                    :rules="amountRules"
                    type="number"
                    prefix="Rp"
                    class="h3"
                  ></v-text-field>
                  <v-layout>
                    <v-btn
                      :disabled="!valid"
                      class="mx-auto mb-4"
                      color="primary"
                      @click="e1 = 2"
                      >Next</v-btn
                    >
                  </v-layout>
                </v-form>
              </v-card>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-card :loading="loading">
              <template slot="progress">
                <v-progress-linear
                  color="deep-purple"
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <v-card-title>Donasi</v-card-title>
              <v-form ref="form" lazy-validation v-model="valid" class="px-4">
                <v-text-field
                  outlined
                  v-model="amount"
                  :rules="amountRules"
                  type="number"
                  prefix="Rp"
                  class="h3"
                ></v-text-field>
              </v-form>
              <v-card-title>Pembayaran</v-card-title>
              <div class="pa-4">
                <v-card
                  v-for="m in methods"
                  :key="m.method"
                  @click="requestOrder(m.method, m.text)"
                >
                  <v-card-title
                    ><v-avatar class="mr-4" tile width="50"
                      ><img :src="`/photos/other/${m.method}.png`"
                    /></v-avatar>
                    {{ m.text }}</v-card-title
                  >
                </v-card>
              </div>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-card>
              <v-card-title>Silahkan melakukan pembayaran</v-card-title>
              <div class="pa-4">
                <v-card>
                  <div class="d-flex justify-center">
                    <img width="300" :src="`/photos/other/${method}.png`" />
                  </div>
                  <v-list-item>
                    <v-list-item-content class="py-4">
                      <v-list-item-title class="headline text-center mt-4 mb-1">
                        {{ methodText }}
                      </v-list-item-title>
                      <div class="h3 text-center mt-4">
                        {{ order.permata_va_number }}
                      </div>
                      <div class="h3 text-center mt-4" v-if="order.order_id">
                        Rp {{ order.gross_amount.toLocaleString("id-ID") }}
                      </div>
                      <div class="h5 text-center mt-4">
                        Order Id : {{ order.order_id }}
                      </div>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </div>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      e1: 1,
      amounts: [10000, 25000, 50000, 100000],
      amount: 0,
      amountRules: [(v) => (v && v >= 10000) || "Min. Rp 10.000"],
      methods: [{ method: "permata", text: "Bank Permata Virtual Account" }],
      method: "",
      methodText: "",
      valid: false,
      order: {},
      loading: false,
    };
  },

  methods: {
    toStepTwo(value) {
      this.amount = value;
      this.e1 = 2;
    },

    async requestOrder(method, text) {
      (this.loading = true), (this.method = method);
      this.methodText = text;
      if (this.$refs.form.validate()) {
        let formData = {
          method: this.method,
          amount: this.amount,
        };

        await axios
          .post("/api/payment/store", formData)
          .then((response) => {
            let { data } = response.data;
            this.order = data;
            this.e1 = 3;
            this.loading = false;
          })
          .catch((err) => {
            this.loading = false;
          });
      }
    },
  },

  mounted() {},
};
</script>
