<template>
  <div>
    <v-container class="mx-auto pa-0 align-self-center" grid-list-sm>
      <div class="text-right">
        <v-btn small text to="/campaigns" class="blue--text">
          All Campaigns <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>

      <v-layout wrap v-if="campaignLoading">
        <v-flex v-for="num in 2" :key="num" xs6>
          <v-skeleton-loader
            :class="num % 2 > 0 ? 'mr-2' : ''"
            type="card"
          ></v-skeleton-loader>
        </v-flex>
      </v-layout>

      <v-layout wrap v-else>
        <v-flex v-for="(campaign, index) in campaigns" :key="index" xs6>
          <card-campaign
            :class="(index + 1) % 2 > 0 ? 'mr-2' : ''"
            :campaign="campaign"
          />
        </v-flex>
      </v-layout>

      <div class="text-right">
        <v-btn small text to="blog" class="blue--text">
          All Blogs <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>

      <v-layout wrap>
        <v-flex v-if="blogLoading">
          <v-skeleton-loader type="image" height="250px"></v-skeleton-loader>
        </v-flex>
        <v-carousel v-else hide-delimiters height="250px">
          <v-carousel-item v-for="(blog, index) in blogs" :key="index">
            <v-img :src="blog.image" class="fill-height">
              <v-container fill-height fluid pa-0 ma-0>
                <v-layout fill-height align-end>
                  <v-flex xs12 mx-2>
                    <span
                      class="headline white--text"
                      v-text="blog.title"
                    ></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
          </v-carousel-item>
        </v-carousel>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  components: {
    CardCampaign: () => import("../components/CardCampaign.vue"),
  },

  data() {
    return {
      blogs: [],
      blogLoading: false,
      campaigns: [],
      campaignLoading: false,
      title: "Home | Crowd Funding",
    };
  },

  methods: {
    async getCampaigns() {
      this.campaignLoading = true;
      await axios
        .get("api/campaign/random/2")
        .then((response) => {
          let data = response.data.data;
          this.campaigns = data.campaigns;
          setTimeout(() => {
            this.campaignLoading = false;
          }, 500);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    async getBlogs() {
      this.blogLoading = true;
      await axios
        .get("api/blog/random/2")
        .then((response) => {
          let data = response.data.data;
          this.blogs = data.blogs;
          setTimeout(() => {
            this.blogLoading = false;
          }, 500);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  mounted() {
    document.title = this.title;
    this.getCampaigns();
    this.getBlogs();
  },
};
</script>
