<template>
  <v-container>
    <v-card>
      <v-card-title>Make a campaign</v-card-title>
      <v-form class="px-10" ref="form" lazy-validation>
        <v-file-input
          v-model="photo"
          label="Image"
          accept="image/png, image/jpg, image/jpeg"
          prepend-icon="mdi-camera"
          :rules="photoRules"
          outlined
        ></v-file-input>
        <v-text-field
          v-model="title"
          :rules="titleRules"
          outlined
          label="Title"
        ></v-text-field>
        <v-text-field
          v-model="address"
          :rules="addressRules"
          outlined
          label="Address"
        ></v-text-field>
        <v-textarea
          v-model="description"
          :rules="descriptionRules"
          label="Description"
          rows="5"
          no-resize
          outlined
        ></v-textarea>
        <v-text-field
          v-model="required"
          :rules="requiredRules"
          type="number"
          prefix="Rp"
          outlined
          label="Required"
        ></v-text-field>
        <v-layout class="py-4">
          <v-btn class="mx-auto" color="primary" @click="submit">Submit</v-btn>
        </v-layout>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      address: "",
      addressRules: [(v) => !!v || "Address is required"],
      description: "",
      descriptionRules: [(v) => !!v || "Description is required"],
      photo: null,
      photoRules: [
        (v) => !!v || "Photo is required",
        (v) =>
          (v && v.size < 2000000) || "Photo size should be less than 2 MB!",
      ],
      required: 0,
      requiredRules: [(v) => !!v || "Required is required"],
      title: "",
      titleRules: [
        (v) => !!v || "Title is required",
        (v) => (v && v.length >= 10) || "Min. 10 characters",
      ],
    };
  },

  computed: {
    ...mapGetters({
      currentUser: "auth/user",
    }),
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set_alert",
    }),

    async submit() {
      if (this.$refs.form.validate()) {
        let config = {
          headers: {
            Authorization: "Bearer " + this.currentUser.token,
          },
        };

        let formData = new FormData();
        formData.append("image", this.photo);
        formData.append("title", this.title);
        formData.append("description", this.description);
        formData.append("address", this.address);
        formData.append("required", this.required);

        await axios
          .post("/api/campaign/store", formData, config)
          .then((response) => {
            let { data } = response;
            this.setAlert({
              status: true,
              text: data.response_message,
              color: "success",
            });
            this.$router.push({ name: "home" });
          })
          .catch((error) => {
            console.log(error.response);
          });
      }
    },
  },
};
</script>

<style>
</style>