<template>
  <v-container class="mx-auto">
    <v-card class="pa-4">
      <v-card-title>Profile</v-card-title>
      <v-form ref="form" v-model="valid">
        <v-layout>
          <v-avatar v-if="photo" class="mx-auto mb-4" size="100"
            ><img :src="`storage/${photo}`"
          /></v-avatar>
          <v-avatar v-else class="mx-auto mb-4" size="100" color="teal"
            ><span class="headline white--text">{{ initial }}</span></v-avatar
          >
          <div class="px-2" style="width: 100%">
            <v-file-input
              v-model="photo_profile"
              label="Avatar"
              accept="image/png, image/jpeg, image/jpg"
              prepend-icon="mdi-camera"
            ></v-file-input>
          </div>
        </v-layout>
        <v-text-field
          v-model="email"
          outlined
          disabled
          label="Email"
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field
          v-model="name"
          :rules="nameRules"
          outlined
          label="Full Name"
          append-icon="mdi-account"
        ></v-text-field>
        <v-layout>
          <v-btn :disabled="!valid" color="primary" @click="submit"
            >Update Profile</v-btn
          >
        </v-layout>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      valid: false,
      email: "",
      initial: "",
      name: "",
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length >= 3) || "Min. 3 characters",
      ],
      photo: null,
      photo_profile: null,
      currentUser: {},
    };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set_alert",
      setAuth: "auth/set",
    }),

    async getProfile() {
      let config = {
        headers: {
          Authorization: "Bearer " + this.user.token,
        },
      };

      await axios
        .get("/api/profile/get-profile", config)
        .then((response) => {
          let { data } = response.data;
          this.currentUser = data;
          this.email = this.currentUser.user.email;
          this.name = this.currentUser.user.name;
          this.photo = this.currentUser.user.photo;
          this.setInitial();
        })
        .catch((err) => {});
    },

    async submit() {
      if (this.$refs.form.validate()) {
        let config = {
          headers: {
            Authorization: "Bearer " + this.user.token,
          },
        };

        let formData = new FormData();
        formData.append("name", this.name);
        if (this.photo_profile)
          formData.append("photo_profile", this.photo_profile);
        await axios
          .post("/api/profile/update-profile", formData, config)
          .then((response) => {
            let { data } = response;
            let dataAuth = {
              token: this.user.token,
              user: data.data.user,
            };
            this.setAuth(dataAuth);
            this.setAlert({
              status: true,
              text: data.response_message,
              color: "success",
            });
            this.getProfile();
          })
          .catch((error) => {
            let { data } = error.response;
            console.log(data);
            this.setAlert({
              status: true,
              text: data.errors.photo_profile[0] || data.errors.name[0],
              color: "error",
            });
          });
      }
    },

    setInitial() {
      this.initial = this.currentUser.user.name
        .split(" ")
        .map((n) => n[0])
        .join("");
    },
  },

  mounted() {
    this.getProfile();
  },
};
</script>

<style>
</style>