<template>
  <v-container>
    <v-card>
      <v-card-title class="text-center"
        >Berhasil Login dengan {{ provider }}</v-card-title
      >
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      code: "",
      provider: "",
    };
  },

  computed: {
    ...mapGetters({
      currentUser: "auth/user",
    }),
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set_alert",
      setAuth: "auth/set",
      setDialogStatus: "dialog/setStatus",
    }),

    async getUser(provider, code) {
      let url = "/api/auth/social/" + provider + "/callback?code=" + code;
      await axios
        .get(url)
        .then((response) => {
          let { data } = response.data;
          this.setAuth(data);
          if (this.currentUser.user.id.length > 0) {
            this.setAlert({
              status: true,
              color: "success",
              text: "Login Success",
            });
            this.setDialogStatus(false);
          }
        })
        .catch((error) => {
          this.setAlert({
            status: true,
            text: "Login Failed!",
            color: "error",
          });
        });
    },
  },

  mounted() {
    this.code = this.$route.query.code;
    this.provider = this.$route.params.provider;
    this.getUser(this.provider, this.code);
  },
};
</script>

<style>
</style>