<template>
  <div>
    <v-card :to="`/campaign/${campaign.id}`">
      <v-img :src="campaign.image" height="200px" />
      <v-card-title v-text="campaign.title" />

      <v-card-actions>
        <v-progress-linear
          v-model="progress"
          color="blue-grey"
          height="7"
        ></v-progress-linear>
      </v-card-actions>

      <v-card-actions>
        <v-icon class="mr-2">mdi-cash</v-icon>
        <span>Rp {{ campaign.required.toLocaleString("id-ID") }}</span>
        <v-spacer />
        <span>{{ progress }} %</span>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "card-campaign",
  props: ["campaign"],
  computed: {
    progress() {
      return Math.round(
        (this.campaign.collected / this.campaign.required) * 100
      );
    },
  },
};
</script>

<style>
</style>