<template>
  <v-container>
    <v-card outlined height="400" style="overflow-y: scroll">
      <v-layout class="pa-0 ma-2" v-for="(chat, index) in chats" :key="index">
        <v-card
          dark
          :class="chat.sender ? 'ml-auto' : ''"
          :color="chat.sender ? 'primary' : 'success'"
          class="px-2"
          max-width="320"
          min-width="200"
        >
          <v-card-title class="pa-0">{{ chat.from }}</v-card-title>
          <v-card-text>{{ chat.subject }}</v-card-text>
        </v-card>
      </v-layout>
    </v-card>

    <v-form class="mt-4" v-model="valid" ref="form" lazy-validation>
      <div class="d-flex align-start">
        <v-textarea
          v-model="subject"
          :rules="subjectRules"
          label="Message"
          rows="3"
          no-resize
          outlined
          @keydown="handleKeydown"
        ></v-textarea>

        <v-btn :disabled="!valid" @click="submit" class="ml-4 primary"
          >Send</v-btn
        >
      </div>
    </v-form>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import BusEvent from "../bus";
import moment from "moment";
export default {
  data() {
    return {
      chats: [],
      valid: false,
      subject: "",
      subjectRules: [(v) => !!v || "Message is required"],
      id: "01",
    };
  },

  computed: {
    ...mapGetters({
      currentUser: "auth/user",
    }),
  },

  methods: {
    handleKeydown(e) {
      if (e.keyCode === 13 && !e.shiftKey) {
        this.submit();
      }
    },

    async submit() {
      if (this.$refs.form.validate()) {
        let subject = this.subject.trim();
        let config = {
          headers: {
            Authorization: "Bearer" + this.currentUser.token,
          },
        };

        let formData = {
          subject: this.subject,
          from: this.currentUser.user.name,
          to: this.chats[0].from,
          created_at: moment().utc(0).format("YY-MM-DD HH:mm:ss"),
          sender: true,
        };

        await axios
          .post("/api/ask-admin/store", formData, config)
          .then((response) => {})
          .catch((error) => {
            console.log(error.response);
          });

        BusEvent.$emit("chat-sent", formData);
        this.subject = "";
      }
    },

    async getChats() {
      let config = {
        headers: {
          Authorization: "Bearer" + this.currentUser.token,
        },
      };

      if (this.$route.params.id) this.id = this.$route.params.id;
      await axios
        .get(`/api/ask-admin/${this.id}`, config)
        .then((response) => {
          let { data } = response.data;
          this.chats = data.chats;
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },

  mounted() {
    this.getChats();
    BusEvent.$on("chat-sent", (formData) => {
      this.chats.push(formData);
    });
  },
};
</script>

<style>
</style>