<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>

    <v-container fluid>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="Email"
          required
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="passwordRules"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          counter
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <v-layout>
          <div class="text-xs-center mx-auto">
            <v-btn
              class="mx-auto"
              color="primary lighten-1"
              :disabled="!valid"
              @click="submit"
              >Login
              <v-icon right dark>mdi-lock-open</v-icon>
            </v-btn>
          </div>
        </v-layout>
        <v-card-text class="text-center"
          >Belum punya akun ?
          <span class="blue--text">Daftar</span> sekarang</v-card-text
        >
      </v-form>

      <v-divider></v-divider>
      <v-layout>
        <div class="text-xs-center mx-auto">
          <v-btn color="orange lighten-2" @click="authProvider('google')"
            ><v-icon class="mr-4">mdi-google</v-icon>Login dengan Google</v-btn
          >
        </div>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      valid: true,
      email: "",
      emailRules: [
        (v) => !!v || "Email is required",
        (v) =>
          /([a-zA-Z0-9_]{1,})(@)([a-zA-Z0-9_]{2,}).([a-zA-Z0-9_]{2,})+/.test(
            v
          ) || "Email must be valid",
      ],
      showPassword: false,
      password: "",
      passwordRules: [(v) => !!v || "Password required"],
    };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set_alert",
      setAuth: "auth/set",
    }),

    async authProvider(provider) {
      await axios
        .get(`/api/auth/social/${provider}`)
        .then((response) => {
          let { data } = response;
          window.location.href = data.url;
        })
        .catch((error) => {
          console.log(error.response);
          this.setAlert({
            status: true,
            text: "Login Failed",
            color: "error",
          });
        });
    },

    async submit() {
      if (this.$refs.form.validate()) {
        let formData = {
          email: this.email,
          password: this.password,
        };
        await axios
          .post("api/auth/login", formData)
          .then((response) => {
            let { data } = response.data;
            this.setAuth(data);
            if (this.user.user.id.length > 0) {
              this.setAlert({
                status: true,
                color: "success",
                text: "Berhasil login",
              });
              this.close();
            } else {
              this.setAlert({
                status: true,
                color: "error",
                text: "Gagal login",
              });
            }
          })
          .catch((err) => {
            let response = err.response;

            this.setAlert({
              status: true,
              text: response.data.error,
              color: "error",
            });
          });
      }
    },

    close() {
      this.$emit("closed", false);
    },
  },
};
</script>

<style>
</style>