<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Register</v-toolbar-title>
    </v-toolbar>

    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1"
          >Nama & Email</v-stepper-step
        >
        <v-stepper-step :complete="e1 > 2" step="2"
          >Verifikasi Email</v-stepper-step
        >
        <v-stepper-step step="3">Make password</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-form ref="form" class="my-2">
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="Name"
              outlined
            ></v-text-field>
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="Email"
              append-icon="mdi-email"
              outlined
            ></v-text-field>

            <v-layout>
              <v-btn class="mx-auto" color="primary" @click="submit"
                >Register</v-btn
              >
            </v-layout>
            <v-card-text class="text-center"
              >Sudah punya akun ?
              <span class="blue--text" style="cursor: pointer" @click="e1 = 2"
                >Verifikasi sekarang.</span
              ></v-card-text
            >
          </v-form>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-card-title>Verifikasi Email</v-card-title>
          <v-card-text
            >Cek email anda, dan masukkan kode verifikasi pada kolom berikut
            untuk memverifikasi email anda.</v-card-text
          >
          <v-form ref="formVerification" lazy-validation>
            <v-text-field
              v-model="otp"
              :rules="otpRules"
              label="Kode OTP"
              type="number"
              outlined
            ></v-text-field>
            <v-layout>
              <v-btn class="mx-auto" color="primary" @click="verification"
                >Verifikasi</v-btn
              >
            </v-layout>
            <v-card-text class="text-center"
              >Email anda sudah terverifikasi ?
              <span class="blue--text" style="cursor: pointer" @click="e1 = 3"
                >Update password disini.</span
              ></v-card-text
            >
          </v-form>

          <v-divider></v-divider>
          <v-card-text
            >Masukkan email anda untuk membuat ulang kode OTP anda.</v-card-text
          >
          <v-form ref="formRequestOtp" lazy-validation>
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="Email"
              append-icon="mdi-email"
              outlined
            ></v-text-field>
            <v-layout
              ><v-btn class="mx-auto" color="primary" @click="requestOtp"
                >Request OTP</v-btn
              ></v-layout
            >
          </v-form>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-card-title>Make your password</v-card-title>
          <v-form ref="formPassword" lazy-validation>
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="Email"
              append-icon="mdi-email"
              outlined
            ></v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passwordRules"
              :type="showPassword ? 'text' : 'password'"
              label="Password"
              hint="At least 6 characters"
              counter
              outlined
              @click:append="showPassword = !showPassword"
            ></v-text-field>
            <v-text-field
              v-model="passwordConfirmation"
              :append-icon="
                showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'
              "
              :rules="passwordConfirmationRules"
              :type="showPasswordConfirmation ? 'text' : 'password'"
              label="Password Confirmation"
              hint="At least 6 characters"
              counter
              outlined
              @click:append="
                showPasswordConfirmation = !showPasswordConfirmation
              "
            ></v-text-field>
            <v-layout>
              <v-btn class="mx-auto" color="primary" @click="updatePassword"
                >Update Password</v-btn
              >
            </v-layout>
          </v-form>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      e1: 1,
      name: "",
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length >= 3) || "Min 3 characters",
      ],
      email: "",
      emailRules: [
        (v) => !!v || "Email is required",
        (v) =>
          /([a-zA-Z0-9_]{1,})(@)[a-zA-Z0-9_]{2,}.([a-zA-Z0-9_]{2,})+/.test(v) ||
          "Email must be valid",
      ],
      otp: "",
      otpRules: [
        (v) => !!v || "OTP Code is required",
        (v) => (v && v.length == 6) || "OTP Code must be 6 characters",
      ],
      password: "",
      showPassword: false,
      passwordRules: [
        (v) => !!v || "Password required",
        (v) => (v && v.length >= 6) || "Min. 6 characters",
      ],
      passwordConfirmation: "",
      showPasswordConfirmation: false,
      passwordConfirmationRules: [
        (v) => !!v || "Password confirmation required",
        (v) => (v && v == this.password) || "Password didnt match",
      ],
    };
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set_alert",
    }),

    close() {
      this.$emit("closed", false);
      this.e1 = 1;
      this.otp = "";
      this.name = "";
      this.email = "";
      this.password = "";
      this.showPasswordConfirmation = "";
    },

    async submit() {
      if (this.$refs.form.validate()) {
        let formData = {
          name: this.name,
          email: this.email,
        };

        await axios
          .post("/api/auth/register", formData)
          .then((response) => {
            this.setAlert({
              status: true,
              text: "Email anda berhasil didaftarkan",
              color: "success",
            });
            this.e1 = 2;
          })
          .catch((error) => {
            let { data } = error.response;
            this.setAlert({
              status: true,
              text: data.errors.email[0],
              color: "error",
            });
          });
      }
    },

    async verification() {
      if (this.$refs.formVerification.validate()) {
        let formData = {
          otp: this.otp,
        };
        await axios
          .post("/api/auth/verification", formData)
          .then((response) => {
            let { data } = response;
            if (data.response_code == "01") {
              this.setAlert({
                status: true,
                color: "error",
                text: data.response_message,
              });
            } else {
              this.setAlert({
                status: true,
                color: "success",
                text: data.response_message,
              });
              this.otp = "";
              this.e1 = 3;
            }
          })
          .catch((err) => {});
      }
    },

    async requestOtp() {
      if (this.$refs.formRequestOtp.validate()) {
        let formData = {
          email: this.email,
        };

        await axios
          .post("/api/auth/regenerate-otp", formData)
          .then((response) => {
            let { data } = response;
            if (data.response_code == "01") {
              this.setAlert({
                status: true,
                text: data.response_message,
                color: "error",
              });
            } else {
              this.setAlert({
                status: true,
                text: data.response_message,
                color: "success",
              });
              this.email = "";
            }
          })
          .catch((err) => {});
      }
    },

    async updatePassword() {
      if (this.$refs.formPassword.validate()) {
        let formData = {
          email: this.email,
          password: this.password,
          password_confirmation: this.passwordConfirmation,
        };

        await axios
          .post("/api/auth/update-password", formData)
          .then((response) => {
            let { data } = response;
            if (data.response_code == "01") {
              this.setAlert({
                status: true,
                text: data.response_message,
                color: "error",
              });
            } else {
              this.setAlert({
                status: true,
                text: "Akun anda sudah aktif, silahkan login.",
                color: "success",
              });
              this.close();
            }
          })
          .catch((error) => {
            console.log(error.response);
          });
      }
    },
  },
};
</script>

<style>
</style>