<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-text-field
        hide-details
        append-icon="mdi-microphone"
        flat
        autofocus
        prepend-inner-icon="mdi-magnify"
        v-model="keyword"
        @input="doSearch"
      ></v-text-field>
    </v-toolbar>
    <v-card-text>
      <v-subheader v-if="keyword > 0"
        >Result search "{{ keyword }}"</v-subheader
      >
      <v-alert
        :value="campaigns.length == 0 && keyword.length > 0"
        color="warning"
        outlined
      >
        Sorry, but no result were found.
      </v-alert>

      <v-container class="mx-auto mt-4 pa-0" grid-list-sm>
        <v-layout wrap>
          <v-flex
            v-for="(campaign, index) in campaigns"
            :key="`campaign-${campaign.id}`"
            xs6
          >
            <card-component
              :class="[index + 1 > 0 ? 'mr-4' : '', index > 1 ? 'mt-4' : '']"
              :campaign="campaign"
              @click.native="close"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import CardComponent from "./CardCampaign.vue";
export default {
  components: {
    CardComponent,
  },

  data() {
    return {
      keyword: "",
      campaigns: [],
    };
  },
  methods: {
    async doSearch() {
      let keyword = this.keyword;
      if (keyword.length > 0) {
        await axios
          .get(`/api/campaign/search/${keyword}`)
          .then((response) => {
            let { data } = response.data;
            this.campaigns = data.campaigns;
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        this.campaigns = [];
      }
    },

    close() {
      this.$emit("closed", false);
    },
  },
};
</script>

<style>
</style>